---
- name: "Example Nginx Web Server"
  hosts: all
  become: true
  gather_facts: false
  tasks:
    # Misc prerequisites tasks ...
    - name: "Main | Output debug message"
      ansible.builtin.debug:
        msg: "Hello, world!"

    - name: "Main | Decrypted variable and write to file"
      ansible.builtin.copy:
        content: "{{ database_not_real_pwd }}"
        dest: /tmp/hello-world.txt
        mode: "0644"

    - name: "Main | install example packages"
      ansible.builtin.package:
        name: [which, tree]
        state: present

    # Install and configure nginx web server ...
    - name: "Main | install nginx web server"
      ansible.builtin.package:
        name: nginx
        state: present

    - name: "Main | copy nginx config"
      ansible.builtin.copy:
        src: nginx.conf
        dest: /etc/nginx/nginx.conf
        owner: root
        group: root
        mode: "0644"

    - name: "Main | copy index html"
      ansible.builtin.copy:
        src: index.html
        dest: /var/www/html/index.html
        owner: root
        group: root
        mode: "0644"

    - name: "Main | start nginx service"
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true

    - name: "Main | Delete secrets folder"
      ansible.builtin.file:
        path: "/root/.sec"
        state: absent

    # Test web server was setup correctly ...
    - name: "Main | check if port 80 is open"
      ansible.builtin.wait_for:
        host: localhost
        port: 80
        state: started
        delay: 5
        timeout: 10

    - name: "Main | Get content from web server"
      ansible.builtin.uri:
        url: "http://localhost:80"
        return_content: true
      register: webserver_content

    - name: "Main | Validate hello world string is in output"
      ansible.builtin.assert:
        that:
          - "'Hello, Nginx!' in webserver_content.content"
